<!-- categories/index.html.erb -->
<ul class="list-group">
  <% @entities.each do |entity| %>
    <li class="list-group-item">
       <%= entity.name %>
       <%= entity.amount %>

      <!-- This link navigates to the transactions page for the category -->
    </li>
  <% end %>
</ul>
