<div class="container">
  <div class="row">
    <div class="col text-center mt-5" style="font-family: 'Dancing Script', cursive;">
      <h1 class="display-2">My Wallet</h1>
       <p style="font-family: 'Arial', sans-serif;">
        Easily track and categorize your expenses, providing valuable insights into your spending habits. With user-friendly tools, empower yourself to make informed financial decisions and take charge of your financial future
      </p>
      <%= image_tag 'free-wallet.png', alt: 'Free Wallet' %>
     <%= button_to "Create an account", new_user_registration_path, method: :get, class: "btn btn-primary", style: "font-size: 18px; font-family: 'Arial', sans-serif;" %>
    </div>
  </div>
</div>
