.form-container {
  width: 100%;
  box-shadow: 0 0 5px rgba(67, 75, 84, 0.3);
height: 100vh;
  margin-top: 1rem;
  color: #434b54;
  display: flex;
  justify-content: center;
 
}

.form-group {
  margin-bottom: 1rem;
  margin: 1rem;
  
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #f0f2f1;
}

.btn-primary {
  background-color: #5fb523;
  color: #fff;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out;


}

.btn-primary:hover {
  background-color: #4a971f;
}
